/*font : font-family: 'Glegoo', serif;*/

* {
  padding: 0;
  margin: 0;
}

html {
  overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
header {
  width: 100vw;
  height: 46px;
  position: fixed;
  z-index: 1;
  background: rgb(0, 113, 188);
}

div.container {
  width: 1200px;
  max-width: 1200px;
  min-width: 980px;
  margin: auto;
}

img.position {
  margin-right: 242px;
  float: left;
}

section.slide {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 113, 188);
}

figure.animate {
  padding-top: 195px;
  margin: auto;
  width: 300px;
  height: 400px;
}

article.visu {
  background: url(../img/people.png) 0 0 no-repeat fixed;
  width: auto;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  padding-top: 50px;
}

h1, h2, h3 {
  font-size: 53px;
  color: snow;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Glegoo', serif;
}

hr {
  border: 3px solid rgb(0, 113, 188);
  width: 46px;
  margin: auto;
}

/*NAV*/

nav {
  width: 600px;
  height: 46px;
  float: left;
}

nav ul li {
  list-style: none;
  float: left;
  display: block;
  height: 46px;
  width: 120px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a {
  font-family: 'Glegoo', serif;
  color: snow;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: whitesmoke;
  border-bottom: 3px solid whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p.text {
  font-family: 'Glegoo', serif;
  color: floralwhite;
  text-align: center;
  padding-top: 60px;
}

section.eco {
  background: #000;
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

article.vu {
  width: 1080px;
  height: auto;
  margin: auto;
}

figure.mission {
  height: 390px;
  width: 160px;
  float: left;
  margin: 60px 200px 0 0;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p.zone {
  color: snow;
  font-size: 14px;
  width: 160px;
  font-family: 'Glegoo', serif;
}

article.visu2 {
  background: url(../img/equipe.jpg) 0 0 no-repeat fixed;
  width: auto;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  padding-top: 56px;
}

div.contain {
  width: 1000px;
  height: auto;
  margin: 150px auto 0;
}

div.conso {
  width: 480px;
  height: 250px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  float: left;
  overflow: auto;
  color: rgb(33, 33, 33);
  text-align: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Glegoo', serif;
}

#space {
  margin-right: 40px;
}

div.content-client {
  padding-top: 50px;
  width: 700px;
  margin: auto;
}

div.prevu {
  display: inline-block;
  width: 196px;
  height: 210px;
  position: relative;
  background: rgb(0, 113, 188);
  transform: scale(1);
  transition: all 500ms ease-in;
}

div.prevu:hover {
  transform: scale(1.5);
  transition: all 200ms ease-in;
  filter: grayscale(0);
  box-shadow: 0 0 150px black;
  background: rgb(0, 113, 188);
  z-index: 2;
}
