@media screen and (min-width:320px) and (max-width:459px) {
  body {
    background: LightSlateGrey;
  }

  div#wrap {
    width: 100%;
    min-width: 320px;
    max-width: 459px;
    height: auto;
    margin: auto;
    padding-left: 0;
  }

  section.bloc {
    display: none;
    height: 100vh;
  }

  section.bloc:nth-child(3) {
    display: block;
    width: 100%;
    height: 100vh;
  }

  section.bloc:nth-child(4) {
    display: block;
    width: 100%;
    height: 100vh;
  }

  section.bloc:nth-child(5) {
    height: 388px;
  }

  section.bloc:nth-child(6) {
    height: 367px;
    margin-top: 50vh;
  }

  article.rosa {
    background: url(../img/rosa-320.jpg) 0 0 no-repeat;
    max-height: 100%;
    max-width: 100%;
    width: 459px;
    height: 454px;
    float: left;
    line-height: 454px;
  }

  h2.titre {
    font-size: 100pt;
  }

  h3 {
    font-size: 50px;
    text-align: center;
  }

  span {
    color: black;
  }

  .line {
    line-height: 454px;
  }

  h2.right {
    text-align: right;
  }

  h2.left {
    text-align: left;
  }

  article.txt {
    width: 423px;
    height: 752px;
    float: left;
  }

  article.bloc_1 {
    width: 460px;
    height: 571px;
    float: left;
    background: url(../img/bloc1.gif) 0 0 no-repeat;
  }

  article.droite {
    width: 489px;
    height: 571px;
    box-shadow: 2px 0 60px #cfddea;
    float: left;
    padding: 4px;
  }

  article.pin {
    width: 481px;
    height: 329px;
    background: url(../img/pin.jpg) 0 0 no-repeat;
  }

  p {
    padding: 10px;
    line-height: 34px;
  }

  .btn {
    border-radius: 20px;
    border: 1px solid crimson;
    width: 152px;
    height: 37px;
    background: white;
    display: block;
    margin-left: 20px;
  }

  a {
    text-decoration: none;
    text-align: center;
    line-height: 37px;
  }

  .btn:hover, a:hover {
    background: crimson;
    color: white;
  }

  .position {
    position: relative;
    bottom: 50px;
  }

  article.gauche {
    width: 499px;
    height: 573px;
    float: left;
    box-shadow: 2px 0 60px #cfddea;
    padding: 8px;
  }

  article.xmas {
    width: 482px;
    height: 355px;
    background: url(../img/noel.jpg) 0 0 no-repeat;
  }

  article.bloc_2 {
    width: 450px;
    height: 573px;
    float: left;
    background: url(../img/bloc2.gif) 0 0 no-repeat;
  }

  p.centre {
    text-align: center;
  }

  article.phone {
    width: 521px;
    height: 327px;
    float: left;
    background: url(../img/phone.jpg) 0 0 no-repeat;
    text-indent: -9000px;
  }

  p.contact {
    padding-left: 37px;
    height: 317px;
    width: 428px;
    float: left;
    margin-top: 80px;
  }

  header.pop {
    position: relative;
    top: 54px;
    left: 325px;
    z-index: 1;
    background: white;
    box-shadow: 2px 0 60px #cfddea;
    width: 391px;
    height: 58px;
    line-height: 58px;
  }

  h3.position_2 {
    position: absolute;
    left: 30px;
  }

  .btn.me {
    margin-top: 20px;
    margin-left: 0;
  }

  footer {
    background: #1f2022;
    width: 100%;
    height: 460px;
    float: left;
    margin-top: 467px;
  }

  section.bloc.ombre {
    box-shadow: 2px 31px 24px #eef7fc;
    height: auto;
  }

  div.bd {
    background: url(../img/bord-droit.gif) 0 0 no-repeat;
    width: 122px;
    height: 367px;
    float: left;
    margin-top: 139px;
  }

  section.nav {
    width: 250px;
    height: auto;
    position: fixed;
    top: 10px;
    right: 0;
  }

  div.menu {
    width: 30px;
    float: left;
    margin-right: 15px;
  }

  div.menu > ul li {
    display: block;
    width: 30px;
    height: 20px;
    text-align: center;
  }

  div.reds {
    background: crimson;
    width: 2px;
    height: 126px;
    float: left;
  }

  ul {
    list-style: none;
  }

  nav {
    width: 168px;
    float: left;
  }

  nav ul li {
    display: block;
    width: 168px;
    text-align: center;
    line-height: 21px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
  }

  span.us {
    color: crimson;
  }

  div.bd {
    display: none;
  }
  section.nav {
    display: none;
  }

  section.nav.is-active {
    display: block;
    width: auto;
    background: rgba(207, 221, 234, 0.5);
    top: 0;
  }

    #burger {
      display: block;
    position: fixed;
    font-size: 2em;
    padding: 10px;
  }

}
